   h1 {
       font-size: 48px;
       transform: skewX(-20deg);
   }

   p {
       font-size: 24px;
       transform: rotate(10deg);
   }

   /* tranformacja obrazku  */

   .container {
       display: block;
       overflow: hidden;
   }

   .container img {
       display: block;
       float: left;
       margin-right: 10px;
   }

   .img1 {
       width: 200px;
       height: 200px;
       transition: transform 0.5s ease-in-out;
   }

   .img1:hover {
       transform: scale(1.5);
   }

   .img2 {
       width: 200px;
       height: 200px;
       transition: transform 0.5s ease-in-out;
   }

   .img2:hover {
       transform: rotate(45deg);
   }

   .img3 {
       width: 200px;
       height: 200px;
       transition: transform 0.5s ease-in-out;
   }

   .img3:hover {
       transform: rotate(45deg) scale(1.5);
   }

    /* tranformacja przycisku  */
    
        .button {
            margin-top: 100px;
            display: inline-block;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: #f4f3f3;
            font-size: 16px;
            font-weight: bold;
            background-color: #d63e9c;
            cursor: pointer;
        }
    
        /* Transformacja przycisku na hover */
        .button:hover {
            background-color: #d400aa;
            transform: scale(1.1);
        }
    
        /* Transformacja przycisku na aktywnym stanie */
        .button:active {
            transform: scale(0.9);
        }

    /* tranformacja menu  */

        .menu {
            background-color: #333;
            display: flex;
            justify-content: center;
        }
    
        .menu-list {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
    
        .menu-list li {
            margin: 0 10px;
            transform: skew(-20deg);
        }
    
        .menu-list li a {
            color: #fff;
            display: block;
            font-weight: bold;
            padding: 10px;
            text-decoration: none;
            transform: skew(20deg);
        }
    
        .menu-list li:hover a {
            background-color: #fff;
            color: #333;
        }